[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pycodestyle = "*"
autopep8 = "*"
pylint = "*"
rope = "*"

[packages]
pandas = "*"
prompt-toolkit = "*"
pycrypto = "*"
psycopg2 = "*"
pyOpenSSL = "*"
PyYAML = "*"
donut-shellcode = "==0.9.2"
cython = "*"
