[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pycodestyle = "*"
autopep8 = "*"
pylint = "*"
rope = "*"

[packages]
pandas = "*"
prompt-toolkit = "*"
pycryptodome = "==3.15.0"
psycopg2-binary = "*"
pyOpenSSL = "*"
PyYAML = "*"
pefile = "*"
donut-shellcode = "==0.9.2"