
body{
    background:#1b1b1b
}
* {font-size:0.98em}

.form-control{
    font-size:11px;
}

#content{
    background:#1b1b1b
}
h4{
    color:#009620;
}

.footer{
    color:#009620;
}

.col-1 ul{
    padding-left:20px;
    margin:0px;
}

.leftmenu{
    font-size:9px;
    list-style-type: none;
    display: inline;
}

.leftmenu li{
    margin-top:16px;
    padding:0px;
}

.command {
    color: #FFFF00;
}

.task p{
    padding:0px;
    margin:3px;
}

.command_return {
            color: #29a645;
}

.command_output {
            color: #83a86c;
}

.command_queue{
    color:#ffe
}

.tasks-title {
    position: sticky;
    top: 0;
    background-color: #000;
    padding: 10px;
    text-align: left;
    color:red;
}

.task {
    padding: 0px;
}

.changecursor{
    cursor: pointer;
}

.close-implant-button{
    text-align:right;
    padding-top:4px;
}

.close-implant-button a{
    color:red;
    margin-right:14px;
}

.btn-space{
    margin-right:4px;
}

.logs{
    border:1px solid #b1b1b1;
    height:400px;
    overflow-y: scroll;
}

.box_border{
    border:1px solid #b1b1b1;
}

#autoruns_form{
    color:#fff;
    padding-top:6px;
}
