{% include "header.html" %}
<div id="content" class="flex-grow-1">
  <div class="text-center bg-body-secondary">
    <div class="pt-2 pb-3 fs-1 fw-bold" style="letter-spacing: 2px;">Autoruns</div>
  </div>
  <div id="autoruns_form" class="box_border">
    <form method="post" action="/autorunsview" class="m-2 d-flex align-items-center gap-2">
      <strong>Add new autorun task: </strong>
      <div class="flex-grow-1 d-flex align-items-center">
        <input type="text" name="task" value="" class="flex-grow-1" />
      </div>
      <input type="submit" class="btn btn-danger btn-sm" value="Add Autorun" />
    </form>
  </div>
  <div id="autoruns" class="implants">
    <table class="table align-middle mb-0 table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>TASK</th>
          <th style="text-align:center">ACTION</th>
        </tr>
      </thead>
      {% for autorun in autoruns %}
      <tr>
        <td>{{autorun.id}}</td>
        <td>{{autorun.task}}</td>
        <td style="text-align:center">
          <a href="/autorunsview/del/{{autorun.id}}" class="badge badge-danger rounded-pill d-inline">
            <button type=" button" class="btn btn-outline-warning">
              <i class="bi bi-trash"></i>
            </button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
