{%if implants|length > 0 %}
<table class="table table-sm  align-middle mb-0 bg-dark table-hover">
    <thead  class="bg-lighdt" style="background-color:#009620">
        <tr><th>#</th><th>Last seen</th><th>Process name</th><th>Process ID</th><th>Sleep</th><th>Username@machine</th><th>Architecture</th><th>Implant type</th><th>Label</th><th>ACTION</ht></tr>
    </thead>
{% for implant in implants %}
<tr 
{% if loop.index0 % 2 == 0 %}
 class="table-secondary changecursor"
    {% else %}
 class="table-success changecursor"
    {% endif %}
 onclick="showImplantBox('{{implant.id}}','{{implant.numeric_id}}')">
    <td>{{implant.numeric_id}}</td>
    <td>{{implant.last_seen}}</td>
    <td>{{implant.process_name}}</td>
    <td>{{implant.process_id}}</td>
    <td>{{implant.sleep}}</td>
    <td>{{implant.domain}}\{{implant.user}}@{{implant.hostname}}</td>
    <td>{{implant.architecture}}</td>
    <td>{{implant.type}}</td>
    <td>{{implant.label}}</td>
    <td><a href="#" onclick="javascript:killImplant('{{implant.numeric_id}}','{{implant.id}}')" class="badge badge-danger">Kill implant</a></td>
</tr>
        {% endfor %}
</table>
{% else %}
<div class="badge badge-pill badge-danger">There are no active implants yet</div>
{%endif %}