{%if implants|length > 0 %}
<table class="table table-sm  align-middle mb-0 bg-dark table-hover">
    <thead  class="bg-lighdt" style="background-color:#009620">
        <tr><th class="th-center">#</th><th class="th-center">Last seen</th><th>Process name</th><th class="th-center">Process ID</th><th class="th-center">Sleep</th><th class="th-center">Username@machine</th><th class="th-center">Architecture</th><th class="th-center">Implant type</th><th class="th-center">Label</th><th class="th-center">Action</ht></tr>
    </thead>
{% for implant in implants %}
<tr 
{% if loop.index0 % 2 == 0 %}
 class="table-secondary changecursor"
    {% else %}
 class="table-success changecursor"
    {% endif %}
 onclick="showImplantBox('{{implant.id}}','{{implant.numeric_id}}')">
    <td class="th-center">{{implant.numeric_id}}</td>
    <td class="th-center">{{implant.last_seen}}</td>
    <td>{{implant.process_name}}</td>
    <td class="th-center">{{implant.process_id}}</td>
    <td class="th-center">{{implant.sleep}}</td>
    <td class="th-center">{{implant.domain}}\{{implant.user}}@{{implant.hostname}}</td>
    <td class="th-center">{{implant.architecture}}</td>
    <td class="th-center">{{implant.type}}</td>
    <td class="th-center">{{implant.label}}</td>
    <td class="th-center"><a href="#" onclick="javascript:killImplant('{{implant.numeric_id}}','{{implant.id}}')" class="badge badge-danger">Kill implant</a></td>
</tr>
        {% endfor %}
</table>
{% else %}
<div class="badge badge-pill badge-danger">There are no active implants yet</div>
{%endif %}