{% include "header.html" %}
        <div class="col-11" id="content" style="border-left:1px solid #b1b1b1;">
            <div class="row">
                <div class="col-12">
                    <br/>
                    <button type="button" class="btn btn-success">Tasks in queue</button>
                    <div class="row">
                        <div id="newtasks" class="implants col-10">
                            <table class="table table-sm  align-middle mb-0 bg-dark table-hover">
                            <thead  class="bg-lighdt" style="background-color:#009620;">
                            <tr>
                                <th>#</th>
                                <th>Implant ID</th>
                                <th>Command</th>
                                <th>User</th>
                                <th style="text-align:center">ACTION</th>
                            </tr>
                            </thead>
                            {% for task in new_tasks %}
                            <tr 
                            {% if loop.index0 % 2 == 0 %}
                             class="table-secondary"
                            {% else %}
                             class="table-success"
                            {% endif %}
                            >
                                <td>{{task.id}}</td>
                                <td>{{task.implant_id}}</td>
                                <td>{{task.command}}</td>
                                <td>{{task.user}}</td>
                                <td style="text-align:center"><a href="/newtasksview/del/{{task.id}}" class="badge badge-danger rounded-pill d-inline">DEL</a></td>
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                        <!-- newtasks -->

                    </div>
                    <!-- /row -->
                </div>
                <!--/ title  -->
            </div>
            <!-- /row -->
<br/>
        </div>
        <!-- /content -->
{% include "footer.html" %}
