{% include "header.html" %}
<script>
function showImage(imageuri){

    $("#subdomainimage").css("background-image","url("+imageuri+")")
    $("#subdomainimage").css("background-size","100% auto")
    $("#subdomainimage").css("background-repeat"," no-repeat")
    $("#subdomainimage").show()
}
</script>
<div class="col-11" id="content" style="border-left:1px solid #b1b1b1;">
            <div class="row">
                <div class="col-12">
                    <br/>
                    <button type="button" class="btn btn-success">Files</button>
                    <div class="row">
                        <div id="autoruns" class="implants col-4">
                            <table class="table table-sm  align-middle mb-0 bg-dark table-hover">
                            <thead  class="bg-lighdt" style="background-color:#009620;">
                            <tr><th>#</th><th>VIEW</th><th>FILENAME</th></tr>
                            </thead>
                            {% for image in images %}
                            <tr 
                            {% if loop.index0 % 2 == 0 %}
                             class="table-secondary"
                            {% else %}
                             class="table-success"
                            {% endif %}
                            >
                            <td>{{loop.index}}</td>
                            <td style="width:300px;">
                                <a href="javascript:showImage('{{ url_for('serve_file', filename=image) }}')"><img src="{{ url_for('serve_file', filename=image) }}" class="img-thumbnail" onerror="this.style.display = 'none'"></a>
                            </td>
                            <td>{{image}}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                        <div id="subdomainimage" style="background:#000;border:1px solid #dfdfdf;display:none" class="col-8"></div>
                        <!-- /subdomainimage -->

                        <!-- autoruns -->
                    </div>
                    <!-- /row -->
                </div>
                <!--/ title  -->
            </div>
            <!-- /row -->
<br/>
        </div>
        <!-- /content -->
{% include "footer.html" %}
